body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#repositories-list {
    margin-top: 20px;
    text-align: left;
}

/* Add the following styles for loader and pagination */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none; /* initially hide loader */
    margin: 20px auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #555;
}

/* Add the following keyframes for loader animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
